@font-face {
    font-family: "iStoriaHeavy";
    src: url("./fonts/iStoriaHeavy.eot");
    src:
        url("./fonts/iStoriaHeavy.eot") format("embedded-opentype"),
        url("./fonts/iStoriaHeavy.woff2") format("woff2"),
        url("./fonts/iStoriaHeavy.woff") format("woff"),
        url("./fonts/iStoriaHeavy.ttf") format("truetype"),
        url("./fonts/iStoriaHeavy.svg#iStoriaHeavy") format("svg");
}
@font-face {
    font-family: "iStoriaRegular";
    src: url("./fonts/iStoriaRegular.eot");
    src:
        url("./fonts/iStoriaRegular.eot") format("embedded-opentype"),
        url("./fonts/iStoriaRegular.woff2") format("woff2"),
        url("./fonts/iStoriaRegular.woff") format("woff"),
        url("./fonts/iStoriaRegular.ttf") format("truetype"),
        url("./fonts/iStoriaRegular.svg#iStoriaRegular") format("svg");
}
@font-face {
    font-family: "iStoriaSemiBold";
    src: url("./fonts/iStoriaSemiBold.eot");
    src:
        url("./fonts/iStoriaSemiBold.eot") format("embedded-opentype"),
        url("./fonts/iStoriaSemiBold.woff2") format("woff2"),
        url("./fonts/iStoriaSemiBold.woff") format("woff"),
        url("./fonts/iStoriaSemiBold.ttf") format("truetype"),
        url("./fonts/iStoriaSemiBold.svg#iStoriaSemiBold") format("svg");
}
@font-face {
    font-family: "iStoriaThin";
    src: url("./fonts/iStoriaThin.eot");
    src:
        url("./fonts/iStoriaThin.eot") format("embedded-opentype"),
        url("./fonts/iStoriaThin.woff2") format("woff2"),
        url("./fonts/iStoriaThin.woff") format("woff"),
        url("./fonts/iStoriaThin.ttf") format("truetype"),
        url("./fonts/iStoriaThin.svg#iStoriaThin") format("svg");
}
@font-face {
    font-family: "iStoriaBold";
    src: url("./fonts/iStoriaBold.eot");
    src:
        url("./fonts/iStoriaBold.eot") format("embedded-opentype"),
        url("./fonts/iStoriaBold.woff2") format("woff2"),
        url("./fonts/iStoriaBold.woff") format("woff"),
        url("./fonts/iStoriaBold.ttf") format("truetype"),
        url("./fonts/iStoriaBold.svg#iStoriaBold") format("svg");
}
